.home{
    background-image: url('../../images/assests-img/image\ 7.png');
    height: 40rem;
    position: relative;
    overflow: hidden;
    background-position: center;
    background-size: cover;
}